<!DOCTYPE html>
<html>
     <head>
          <meta charset="utf-8">
          <title>Visi Konti</title>
        <style type="text/css" rel="stylesheet">
          html, body{
            background-color: #DBAF27;
            font-family: "Helvetica", "Arial", sans-serif;
          }
          .atpakal{
            text-align: left;
            margin-top: 50 px;
            margin-bottom: 50px;
            margin-left: 50px;
          }
        </style>
     </head>
     <body>
       <table>
         <tr>
           <td><h5>Id</h5></td>
           <td><h5>Lietotājvārds</h5></td>
           <td><h5>Meklētās filmas</h5></td>
           <td><h5>Mīļākās filmas</h5></td>
         </tr>
         {% for kont in rezultats %}
         <tr>
           <td>{{kont[0]}}</td>
           <td>{{kont[1]}}</td>
           <td>{{kont[3]}}</td>
           <td>{{kont[4]}}</td>
         </tr>
         {% endfor %}
       </table>
       <div class="atpakal">
       <br><a href="/sakums_admin"><button type = "button">Atpakaļ</button></a>
       </div>
     </body>
</html>